@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Nunito+Sans:opsz,wght@6..12,300&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #ebe5ff 50%, #d63031 50%);
    background-color: #f0f8ff;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    gap: 10px;
    height: 25px;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2.5px 2.5px;
    height: 30px;
    width: 80px;
    text-decoration: none;
    color: white;
    background-color: #d63031;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e65c00;
}

.landing-main {
    display: flex;
    flex-direction: row;
}

.text {
    /* font-family: 'Impact', sans-serif; */
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    max-width: 900px;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
    background-image: url("../images/head.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    opacity: 0;
    transform: translateY(-100px);
    animation: textSlideIn 6.5s ease-out forwards;
   
}

@keyframes textSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}

/* Rocket animation */
.rocket {
    
    left: 400px;
    width: 200px;
    height: auto;
    animation: rocketLaunch 2s ease-out forwards, rocketOscillate 2s 2s infinite ease-in-out;
}

@keyframes rocketLaunch {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* New infinite Y-axis oscillation */
@keyframes rocketOscillate {
    0% {
        transform: translateY(-90px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-90px);
    }
}

.cloud-section {
    display: flex;
    flex-direction: row;
}

/* Cloud animation */
.cloud {
    display: flex;
    flex-direction: row;
    bottom: -350px;
    width: 250px;
    height: auto;
    animation: cloudFloat 3s ease-out forwards,rocketOscillate 2s 2s infinite ease-in-out;
}

.cloud-1 {
    left: 20%;
    animation-delay: 1.5s;
}

.cloud-2 {
    left: 60%;
    animation-delay: 2s;
}

@keyframes cloudFloat {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}


/* make it responsive */
@media (max-width: 768px) {

    .landing-main {
        flex-direction: column;
    }

    .text {
        font-size: 50px;
        margin-top: 30px;
    }

    .rocket {
        left: 0;
    }

    .cloud {
        bottom: -200px;
    }
}

/* for smaller device also */
@media (max-width: 480px) {
    .text {
        font-size: 30px;
    }
}