
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    background: linear-gradient(135deg, white 50%, #d63031 50%);
    box-sizing: border-box;
    padding: 20px;
}

.login-container {
    justify-content: center;
    align-items: center;
    max-width: 400px; /* Increased width for a more professional look */
    width: 100%;
    margin: auto;
    padding: 40px; /* Added padding for more space inside the form */
    background-color: white;
    border: none;
    border-radius: 20px; /* Slightly rounded corners for a modern touch */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Softer shadow for a professional look */
    z-index: 10;
    transition: opacity 1s ease-out;
    height: 98%;
}

.login-container h1 {
    text-align: center;
    color: #ff6600;
    font-size: 28px; /* Increased font size for better emphasis */
    margin-bottom: 30px;
    font-weight: bold; /* Bold font for the title */
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 30% 0% 20% 0%;
}

.login-container input {
    width: 90%; /* Ensure input fields span the entire width of the form */
    padding: 10px; /* Increased padding for a more substantial feel */
    
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* Light inner shadow for depth */
    transition: border-color 0.3s ease;
}

.login-container input:focus {
    border-color: #ff6600; /* Highlighted border color on focus */
}

.login-container button {
    width: 80%; /* Ensure button spans the full width */
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ff6600;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.login-container button:hover {
    background-color: #e65c00;
}

.login-container a {
    color: #ff6600;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    display: block;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #e65c00;
}

.Login-tagline {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    text-align: center;
    font-size: 24px; /* Increased font size for better visibility */
    
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.Login-typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-size: 18px;
    font-weight: 800;
    color:#eb4d4b;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite, loop 7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@keyframes loop {
    0%, 100% { width: 0; }
    20%, 80% { width: 100%; }
}

@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .Login-tagline {
        position: static;
        transform: none;
        margin-bottom: 20px;
        letter-spacing: .1em;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .login-container {
        max-width: 320px; /* Adjusted width for smaller screens */
        padding: 20px; /* Reduced padding for smaller screens */
    }

    .login-container h1 {
        font-size: 24px; /* Slightly smaller font size for better fit */ 
    }

    .Login-typewriter{
        font-size: 14px;
    }

    .login-container input, .login-container button {
        font-size: 14px;
        padding: 12px; /* Slightly reduced padding for better fit */
    }

    .Login-tagline {
        font-size: 16px;
        margin-left: 28px;
        margin-right: 28px;
        letter-spacing: .1em;
    }
}


